@charset "utf-8";

html,body{
	
	background-color: #306580;
	
}

.container{
	
	display: grid;
	
	grid-template-columns: 12.5% repeat(3,auto) 12.5%;
	grid-template-row: 20% auto 20%;
	
	background-color: white;
	
	
}

.game-board{
	
	
	
}