html,body{
	
	animation: gradientText 5s ease infinite;
	background-image: linear-gradient(to bottom right,#CD9CFF,#A2A4E8,#BFE1FF,#A2E8E5,#B3FFD2);
	background-size: 2000% 2000%;
	height: 200%;
	background-repeat: no-repeat;
	
	
}

h1{
	
	margin-left: 43.5%;
	margin-top: 2%;
	font-family: gothic-open-shaded, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px aqua;
	animation: slideText 3s;
	position: absolute;

}

main{
	
	font-family: fira-sans, sans-serif;
	font-weight: 800;
	font-style: italic;
	text-shadow: 1px 1px black;
	
}

footer{
	
	text-align: center;
	font-family: acumin-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16pt;
	
}

p{
	
	text-align: left;
	margin-left: 3%;
	
	
	
}

header,.headerText{
	
	margin-left: -5%;
	margin-top: -1.5%;
	
	

}

.blockText{
	
	background-image: linear-gradient(#C1FFB3,#A2E8D1);
	height: 100px;
	width: 103.4%;
	margin-left: -3%;
	margin-top: 5%;
	box-shadow: 5px 5px;
	position: sticky;
	
	
	
}
.paraText{
	
	background-image: linear-gradient(#C1FFB3,#A2E8D1);
	height: 200px;
	width: 103.4%;
	margin-left: -3%;
	margin-top: -2.5%;
	box-shadow: 5px 5px;
	
	
	
}

#titleText{
	
	background-color: white;
	height: 100px;
	width: 100%;
	margin-left: .35%;
	box-shadow: 5px 5px;
	
	
	
}

.imageFiller{

	margin-top: .25%;
	width: 115.5%;
	height: 700px;
	margin-left: -15%;
	
}

.imageFiller:hover{
	
	-webkit-filter: brightness(30%);
}

ol,li{
	
	font-size: 24pt;
	text-align: center;
	list-style-position: inside;
	
}

.smashText{
	
	text-align: center;
	
	
}

#tenText{
	
	color: aqua;
	
	
}

#nineText{
	
	color: #FFA3F7;
	
	
}

#eightText{
	
	color: #B4A2E8;
	
}

#sevenText{
	
	color: #825EEC;
	
}

#sixText{
	
	color: #FF686B;
	
}

#fiveText{
	
	color: #4a9be8;
		
}

#fourText{
	
	color: #3896ff;
	
}

#threeText{
	
	color: #FF6052;
	
}

#twoText{
	
	color: #306DB3;
	
}

#oneText{
	
	color: #E83F63;
	
}

@keyframes slideText{
	
	from{margin-left:-110%;}
	to{margin-left: 43.5%;}
	
}

@keyframes gradientText{

	0%{background-position: 0% 50%}
	50%{background-position: 100% 50%}
	100%{background-position: 0% 50%}
	

}

@keyframes gameSlide{
	
	/*margin-right: ;*/
	
}