@charset "utf-8";
@import url("https://use.typekit.net/ysx6fzx.css");
body,html{
	
	background-color: #103140;
	
}

form{
	
	text-align: center;
	padding: 25px;
}

.login-box{
	
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 20px;
	border-color: black;

	
	padding: 15px;
	
	
}


.container{
	
	
	height: 100px;
	width: 100%;
	
	padding:0;
	
	background-color: white;
	
}

h1{
	
	padding: 20px;
	text-align: center;
	
	font-family: upgrade, sans-serif;
	font-style: normal;
	font-weight: 400;
	
	font-size: 32pt
	
}

.flex-menu{
	
	display: flex;
	margin-top: 5%;
	justify-content: space-around;
	
}

p{
	display: flex;
	float: right;
	padding: 25px;
	margin-right: 5%;
	
	
	font-family: upgrade, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 14pt;
	
}

label{
	
	font-family: upgrade, sans-serif;
	font-weight: 400;
	font-style: normal;
	
}
