@charset "utf-8";


html, body{

  animation: gradientText 5s ease infinite;

  background-image: linear-gradient(to bottom right,#FF3082, #E82CD5, #D63EFF, #8C2CE8, #21BFFF);
  background-size: 2000% 2000%;
  height: 200%;
  background-repeat: no-repeat;

}


main{
	
	padding: 20px 0;
	display: grid;
	grid-gap: 20px 0;
	grid-template-columns: 20px 1fr 20px;
	align-content: start;
	
}

main > *{
	grid-column: 2 / -2;
	
}

main > .full{
	grid-column: 1 / -1;
	
}

.hs{
	
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(10, 1920px);
	grid-template-rows: 800px;
	overflow-x: scroll;
	scroll-snap-type: x proximity;
	padding-bottom: 15px;
	margin-bottom: -5px;
	
	
	
}

.app {
  width: 375px;
  height: 667px;
  background: #DBD0BC;
  overflow-y: scroll;
}


.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc((20px / 2) * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  border-radius: 12px;
}

.block{
	
	background-image: linear-gradient(#C1FFB3,#A2E8D1);
	height: 100px;
	border: 5px solid black;
	position: relative;
	
}

.item{
	
	background-repeat: no-repeat
	
}

.item:hover{
	
	-webkit-filter: brightness(30%);
	
	
}

.container{
	
	height: 200px;
	background-color: white;
	position: relative;
	display: block;
	border: 5px solid black;
	border-radius: 20px;
}

.textFoot{
	
	text-align: center;
	padding: 50px;
	font-size: 32pt;
	font-family: voltage, San-Serif;
	font-weight: 400;
	
	
	
}


#item10{
	
	background-image: url("breath-of-the-wild-shrines.original.jpg");
	
}

#item9{
	
	background-image: url('wolf.png');
	
}

#item8{
	
	background-image: url('mariokart.png');
	
}

#item7{
	
	background-image: url('battlefield.png');
	
}


#item6{
	
	background-image: url('download.png');
}

#item5{
	
	background-image: url('smash.png');
}

#item4{
	
	background-image: url("south-park-the-stick-of-truth-1920x1080.jpg");
	
}

#item3{
	
	background-image: url('rainbow.png');
	
}

#item2{
	
	background-image: url('minecraft.jpg');
	
}

#item1{
	
	background-image: url("the-legend-of-zelda-ocarina-of-time-background-hd-1080p-151666.jpg");
	
}



.text{
	
	text-shadow: 2px 2px black;
	font-size: 32pt;
	color: #E83F63;
	font-family: lemongrass-script, sans-serif;
	font-weight: 400;
	font-style: normal;
	
}

.sampleText{
	
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
	font-size: 32pt;
	font-family: cortado, sans-serif;
	font-weight: 400;
	font-style: normal;
	
	
}

@keyframes gradientText{

	0%{background-position: 0% 50%}
	50%{background-position: 100% 50%}
	100%{background-position: 0% 50%}
	

}

