html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.dark-bg-color{
  background-color: rgb(97, 95, 95);
}

.dark-bg{
  background-color: rgb(97, 95, 95);
  width: 100%;
  height: 350px;
  position: relative;
}

.ml-5{
  margin-left: 20px;
}

.mr-5{
  margin-right: 20px;
}

.navigation-element{
  display: none;
}

.about-picture{
  height: 50%;
  width: 50%;
}

/* Formatting SVG's for wave effects */

.spacer{
  aspect-ratio: 1080/200;
  width: 100%;
  height: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-spacer{
  aspect-ratio: 1080/230;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer-wave{
  background-image: url("components/assets/layered-waves.svg");
}

.layer-peak{
  background-image: url("components/assets/layered-peaks.svg");
}

.stacked-waves{
  background-image: url("components/assets/stacked-waves.svg");
}

.wave{
  background-image: url("components/assets/wave.svg");
}

.p-text{
  width: 45%;
}

.padding-text{
  padding: 5em;
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .p-text{
      width:100%;
    }

    .padding-text{
      padding: 1.5em;
    }
    .Typewriter{
      margin-left: 5px;
    }
    
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .p-text{
      width:100%;
    }

    .padding-text{
      padding: 1.5em;
    }
    .Typewriter{
      margin-left: 5px;
    }
}

/* For Portrait Image of myself and hexagon border */

.Typewriter{
  margin-left: 10px;
}